<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Name: ' + (${userDTO != null && userDTO.name != null} ? ${userDTO.name} : '')"></p>
<p th:text="'Last name: ' + (${userDTO != null && userDTO.lastName != null} ? ${userDTO.lastName} : '')"></p>
<p th:text="'Password: ' + (${userDTO != null && userDTO.password != null} ? ${userDTO.password} : '')"></p>
<p th:text="'Username: ' + (${userDTO != null && userDTO.username != null} ? ${userDTO.username} : '')"></p>
<p th:text="'Email: ' + (${userDTO != null && userDTO.email != null} ? ${userDTO.email} : '')"></p>

<a th:href="@{/auth/logout}">Logout</a>
</body>
</html>
