<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <div class="mt-2">
                </div>
                <div th:if="${errorMessage}">
                    <h2 th:text="${errorMessage}" style="color: red;"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragments/footer.html ::footer"></footer>
</html>